@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.7t9tbfaemk.bundle.scp.css';

/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-d7stued75q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-d7stued75q] {
    flex: 1;
    background-color:black;
}

.sidebar[b-d7stued75q] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-d7stued75q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-d7stued75q]  a, .top-row[b-d7stued75q]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-d7stued75q]  a:hover, .top-row[b-d7stued75q]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-d7stued75q]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-d7stued75q] {
        justify-content: space-between;
    }

    .top-row[b-d7stued75q]  a, .top-row[b-d7stued75q]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d7stued75q] {
        flex-direction: row;
    }

    .sidebar[b-d7stued75q] {
        width: 150px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d7stued75q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-d7stued75q]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-d7stued75q], article[b-d7stued75q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-d7stued75q] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-d7stued75q] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*.rq1-button {
    background-color: blanchedalmond;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-family: Cooper;
    font-size: large;*/ /*16px;*/
    /*cursor: pointer;
}*/



/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z9x7m8rnst] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-z9x7m8rnst] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-z9x7m8rnst] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z9x7m8rnst] {
    font-size: 1.1rem;
}

.bi[b-z9x7m8rnst] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-z9x7m8rnst] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-z9x7m8rnst] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-z9x7m8rnst] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-z9x7m8rnst] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z9x7m8rnst] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z9x7m8rnst] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z9x7m8rnst]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-z9x7m8rnst]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-z9x7m8rnst]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-z9x7m8rnst] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-z9x7m8rnst] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z9x7m8rnst] {
        display: none;
    }

    .nav-scrollable[b-z9x7m8rnst] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Pages/Analyser.razor.rz.scp.css */
body[b-6juotlp2xf] {
}

.main-position[b-6juotlp2xf] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-6juotlp2xf] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-6juotlp2xf] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-6juotlp2xf] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-6juotlp2xf] {
    position: absolute;
    bottom: 15%;
    right: 1%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-6juotlp2xf] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-6juotlp2xf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.center-left[b-6juotlp2xf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-6juotlp2xf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-6juotlp2xf] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-6juotlp2xf] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-6juotlp2xf] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-6juotlp2xf] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-6juotlp2xf] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-6juotlp2xf] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-6juotlp2xf] {
    position: absolute;
    top: 0;
    left: 60%;
}
  
    
    
    
    
    
    
    
    
    
    
    
    
    /*body {
}

.main-position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner {
    top: 0;
    left: 0;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.top-right-corner {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.bottom-center-right {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.bottom-right-corner {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.bottom-left-corner {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.center-center {
    position: absolute;
    width: inherit;
    z-index: 1;*/ /* ensure it's on top of other elements */
    /*top: 18%;
    left:52%;
    transform: translate(-50%, 0%);
}

.center-left {
    position: absolute;
    width: inherit;
    z-index: 1;*/ /* ensure it's on top of other elements */
    /*top: 12%;
    left: 0%;
}

.center-right {
    position: absolute;
    width: inherit;
    z-index: 1;*/ /* ensure it's on top of other elements */
    /*top: 15%;
    right: 2%;
}

.center-bottom-upper {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2 {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top {
    position: absolute;
    top: 0;
    left: 60%;
}*/
/* /Components/Pages/Calibration.razor.rz.scp.css */
body[b-wbx75d3vte] {
}

.main-position[b-wbx75d3vte] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-wbx75d3vte] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-wbx75d3vte] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-wbx75d3vte] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-wbx75d3vte] {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-wbx75d3vte] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-wbx75d3vte] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left:52%;
    transform: translate(-50%, 0%);
}

.center-left[b-wbx75d3vte] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-wbx75d3vte] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-wbx75d3vte] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-wbx75d3vte] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-wbx75d3vte] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-wbx75d3vte] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-wbx75d3vte] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-wbx75d3vte] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-wbx75d3vte] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/Excel.razor.rz.scp.css */
body[b-kiz88bpae2] {
}


.top-right-corner[b-kiz88bpae2] {
    position: absolute;
    right: 5%;
    top: 15%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}


.bottom-right-corner[b-kiz88bpae2] {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}
/* /Components/Pages/home.razor.rz.scp.css */
body[b-rvm1z5ciy4] {
}

.main-position[b-rvm1z5ciy4] {
    position: absolute;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.top-left-corner[b-rvm1z5ciy4] {
    position: absolute;
    left: 5%;
    top: 15%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}


.top-right-corner[b-rvm1z5ciy4] {
    position: absolute;
    right: 5%;
    top: 15%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}


.bottom-right-corner[b-rvm1z5ciy4] {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}


.bottom-left-corner[b-rvm1z5ciy4] {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}

.center-bottom[b-rvm1z5ciy4] {
    position: absolute;
    width: inherit;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-rvm1z5ciy4] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top[b-rvm1z5ciy4] {
    position: absolute;
    margin-top: 5%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-rvm1z5ciy4] {
    position: absolute;
    margin-top: 25%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /Components/Pages/SpirometryPage.razor.rz.scp.css */
body[b-q7khtvrn59] {
}

.main-position[b-q7khtvrn59] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-q7khtvrn59] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-q7khtvrn59] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-q7khtvrn59] {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-q7khtvrn59] {
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-left[b-q7khtvrn59] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 30%;
    left: 30%;
}

.center-right[b-q7khtvrn59] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 30%;
    left: 70%;
}

.center-bottom[b-q7khtvrn59] {
    position: absolute;
    width: inherit;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-q7khtvrn59] {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-q7khtvrn59] {
    position: absolute;
    margin-top: 10%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-q7khtvrn59] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-q7khtvrn59] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-q7khtvrn59] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/TestPage.razor.rz.scp.css */
body[b-86b2832qo9] {
}

.main-position[b-86b2832qo9] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.centre-column[b-86b2832qo9] {
    position: absolute;
    align-content:center;
    padding:0;
    margin:0;
    top: -10%;
    left: 20%;
    right: 20%;
    bottom: 5%;
}

.left-column[b-86b2832qo9] {
    position: absolute;
    top: 5%;
    left: 0%;
    right: 80%;
    bottom: 5%;
}

.right-column[b-86b2832qo9] {
    position: absolute;
    top: 5%;
    left: 80%;
    right: 0%;
    bottom: 5%;
}

/*.top-left-corner {
    top: 0;
    left: 0;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.top-right-corner {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.bottom-right-corner {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.bottom-left-corner {
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 1;*/ /* ensure it's on top of other elements */
/*}

.center-left {
    position: absolute;
    width: inherit;
    z-index: 1;*/ /* ensure it's on top of other elements */
    /*top: 30%;
    left: 0%;
}

.center-bottom {
    position: absolute;
    width: inherit;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2 {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top {
    position: absolute;
    top: 0;
    left: 60%;
}*/
/* /Components/Pages/TestPageCardioVascular.razor.rz.scp.css */
body[b-twa9pxi1mu] {
}

.main-position[b-twa9pxi1mu] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-twa9pxi1mu] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-twa9pxi1mu] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-twa9pxi1mu] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-twa9pxi1mu] {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-twa9pxi1mu] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-twa9pxi1mu] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.center-left[b-twa9pxi1mu] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-twa9pxi1mu] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-twa9pxi1mu] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-twa9pxi1mu] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-twa9pxi1mu] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-twa9pxi1mu] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-twa9pxi1mu] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-twa9pxi1mu] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-twa9pxi1mu] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/TestPageGasExchange.razor.rz.scp.css */
body[b-8huhhzsskb] {
}

.main-position[b-8huhhzsskb] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-8huhhzsskb] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-8huhhzsskb] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-8huhhzsskb] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-8huhhzsskb] {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-8huhhzsskb] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-8huhhzsskb] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.center-left[b-8huhhzsskb] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-8huhhzsskb] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-8huhhzsskb] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-8huhhzsskb] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-8huhhzsskb] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-8huhhzsskb] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-8huhhzsskb] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-8huhhzsskb] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-8huhhzsskb] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/TestPageNutrition.razor.rz.scp.css */
body[b-zqrgdxemgf] {
}

.main-position[b-zqrgdxemgf] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-zqrgdxemgf] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-zqrgdxemgf] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-zqrgdxemgf] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-zqrgdxemgf] {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-zqrgdxemgf] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-zqrgdxemgf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.center-left[b-zqrgdxemgf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-zqrgdxemgf] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-zqrgdxemgf] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-zqrgdxemgf] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-zqrgdxemgf] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-zqrgdxemgf] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-zqrgdxemgf] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-zqrgdxemgf] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-zqrgdxemgf] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/TestPageVentilation.razor.rz.scp.css */
body[b-x3jhx32ru2] {
}

.main-position[b-x3jhx32ru2] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-x3jhx32ru2] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-x3jhx32ru2] {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-center-right[b-x3jhx32ru2] {
    position: absolute;
    top: 50%;
    right: 3rem;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-x3jhx32ru2] {
    position: absolute;
    bottom: 15%;
    right: 3%;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-x3jhx32ru2] {
    position: absolute;
    bottom: 1%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-center[b-x3jhx32ru2] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 18%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.center-left[b-x3jhx32ru2] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 12%;
    left: 0%;
}

.center-right[b-x3jhx32ru2] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 15%;
    right: 2%;
}

.center-bottom-upper[b-x3jhx32ru2] {
    position: absolute;
    width: inherit;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-bottom[b-x3jhx32ru2] {
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-x3jhx32ru2] {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-x3jhx32ru2] {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-x3jhx32ru2] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-x3jhx32ru2] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-x3jhx32ru2] {
    position: absolute;
    top: 0;
    left: 60%;
}
/* /Components/Pages/TestReviewSelector.razor.rz.scp.css */
body[b-x5jq48nkzw] {
}

.top-right-corner[b-x5jq48nkzw] {
    position: absolute;
    right: 20%;
    top: 5%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}


.bottom-right-corner[b-x5jq48nkzw] {
    position: absolute;
    right: 20%;
    bottom: 5%;
    z-index: 1; /* ensure it's on top of other elements */
    width: 15%; /* adjust the width as needed */
    min-height: 40%; /* adjust the height as needed */
}
/* /Components/Pages/Ventilation.razor.rz.scp.css */
body[b-fqzo1juvil] {
}

.main-position[b-fqzo1juvil] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-left-corner[b-fqzo1juvil] {
    top: 0;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.top-right-corner[b-fqzo1juvil] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-right-corner[b-fqzo1juvil] {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.bottom-left-corner[b-fqzo1juvil] {
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 1; /* ensure it's on top of other elements */
}

.center-left[b-fqzo1juvil] {
    position: absolute;
    width: inherit;
    z-index: 1; /* ensure it's on top of other elements */
    top: 30%;
    left: 0%;
}

.center-bottom[b-fqzo1juvil] {
    position: absolute;
    width: inherit;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.center-position[b-fqzo1juvil] {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center-top[b-fqzo1juvil] {
    position: absolute;
    margin-top: 5%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-top-2[b-fqzo1juvil] {
    position: absolute;
    margin-top: 2rem;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarter-top[b-fqzo1juvil] {
    position: absolute;
    top: 0;
    left: 20%;
}

.three-quarter-top[b-fqzo1juvil] {
    position: absolute;
    top: 0;
    left: 60%;
}
