body {
}
/*
.rq1-button {
    background-color: blanchedalmond;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-family: Cooper;
    font-size: large; 16px;
    cursor: pointer;
}


*/
